<!DOCTYPE html>
<html>
<head>
  <script src="/js/jquery-1.8.1.min.js"></script>
  <script src="/js/api.js"></script>
  <script src="/js/main.js"></script>
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
  <button id="toggle_options" >Show Options</button>
  <br />
  <div id="left" class="hidden">
    <!-- Register -->
    <b>Add
      <select id="obj_select">
        <option>user</option>
        <option>gamepin</option>
        <option>storepin</option>
        <option></option>
      </select>
    </b>
    <br />
    <form id="add_user" class="visible">
      Email<input type="text" name="email"></input><br />
      Username<input type="text" name="name"></input><br />
      Password<input type="text" name="passHash"></input><br />
      fbConnect<input type="checkbox" name="fbConnect" value="true"></input><br />
      <select name="favCat">
        <option value="Casino">Casino</option>
        <option value="Casual">Casual</option>
        <option value="Shooter">Shooter</option>
        <option value="Action">Action</option>
        <option value="Simulation">Simulation</option>
        <option value="Racing">Racing</option>
        <option value="Puzzle">Puzzle</option>
        <option value="Fighting">Fighting</option>
        <option value="Social">Social</option>
        <option value="Space">Space</option>
        <option value="Horror">Horror</option>
        <option value="Strategy">Strategy</option>
      </select>
      <input type="submit" value="Submit">
    </form>
    <form id="add_gamepin" class="hidden">
      Poster ID<input type="text" name="posterId"></input><br />
      Category<select name="category">
        <option value="Casino">Casino</option>
        <option value="Casual">Casual</option>
        <option value="Shooter">Shooter</option>
        <option value="Action">Action</option>
        <option value="Simulation">Simulation</option>
        <option value="Racing">Racing</option>
        <option value="Puzzle">Puzzle</option>
        <option value="Fighting">Fighting</option>
        <option value="Social">Social</option>
        <option value="Space">Space</option>
        <option value="Horror">Horror</option>
        <option value="Strategy">Strategy</option>
      </select>
      <br />
      Description<input type="text" name="description"> </input>
      <input type="submit" value="Submit">
    </form>
    <form id="add_storepin" class="hidden">
      Price<input type="text" name="price"></input><br />
      Category<select name="category">
        <option value="Casino">Casino</option>
        <option value="Casual">Casual</option>
        <option value="Shooter">Shooter</option>
        <option value="Action">Action</option>
        <option value="Simulation">Simulation</option>
        <option value="Racing">Racing</option>
        <option value="Puzzle">Puzzle</option>
        <option value="Fighting">Fighting</option>
        <option value="Social">Social</option>
        <option value="Space">Space</option>
        <option value="Horror">Horror</option>
        <option value="Strategy">Strategy</option>
      </select>
      <input type="submit" value="Submit">
    </form>
    <br />
    <b>Bucket Options</b>
    <br />
    <button id="delete_all">Delete all</button>
    <br />
    <p> Search via category </p>
    <form id="query_form">
      <select name="category">
        <option value="All">All</option>
        <option value="Casino">Casino</option>
        <option value="Casual">Casual</option>
        <option value="Shooter">Shooter</option>
        <option value="Action">Action</option>
        <option value="Simulation">Simulation</option>
        <option value="Racing">Racing</option>
        <option value="Puzzle">Puzzle</option>
        <option value="Fighting">Fighting</option>
        <option value="Social">Social</option>
        <option value="Space">Space</option>
        <option value="Horror">Horror</option>
        <option value="Strategy">Strategy</option>
      </select>
      <select name="bucket">
        <option value="gamepins">gamepins</option>
        <option value="storepins">storepins</option>
      </select>
      <br />
      <br />
      <input type="submit" value="query">
      <br />
    </form>
    <form id="search_form">
      <p> Search for matching words: </p>
      <input class="search_input" type="text" placeholder="search term"></input>
      <br />
      <br />
      <input type="submit" value="query">
      <br />
    </form>

  </div>
  <div id="right_1">
    <div class="buckets">Buckets:
      <span>
        <button class="users selected">users</button>
        <button class="gamepins">gamepins</button>
        <button class="comments">comments</button>
      </span>
    </div>
  </div>
  <div id="right_2">
    <div class="objects">Objects:<br/>
      <table id="object_table" border="1">
        <tr>
          <th>Email</th><th>Name</th><th>Hash</th><th>fbConnect</th><th>FavCat</th>
        <tr>
      </table>
    </div>
    <div>Keys:<table border="1" class="keys"></table></pdiv>
  </div>
  <div>
    <button id="post_img">Post Img</button>
  </div>
</body>
</html>