<!DOCTYPE html>
<html>
<head>
  <script src="/js/jquery-1.8.1.min.js"></script>
  <script src="/js/dataMapper.js"></script>
  <script src="/js/main.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#execute').click(function(ev){
        $.ajax({ type: 'get', url: '/queryGraveyard',
            success: function(data){
              console.log(data);
            },
            error: function(data){
              console.log(data);
            }
        })
      });
    });
    
  </script>
  <link href="/css/main.css" rel="stylesheet">
  <style>
    .thumb {
      height: 75px;
      border: 1px solid #000;
      margin: 10px 5px 0 0;
    }
  </style>
</head>
<body>
  <button id="execute" type="button" style="position: fixed; right: 100px; top: 100px;"> Delete Pending Users </button>
  <div id="right_1">
    <div class="buckets">Buckets:
      <span>
        <button class="users selected">users</button>
        <button class="userReference">userReference</button>
        <button class="pendingUsers">pendingUsers</button>
        <button class="gamepins">gamepins</button>
        <button class="comments">comments</button>
        <button class="feedback">feedback</button>
      </span>
    </div>
  </div>
  <div id="right_2">
    <div class="objects">Objects:<br/>
      <div id="pending_options" class="hidden">
        <span>Auto-Activate Pending Users</span><button>Off</button> &nbsp;
        <span>Activate all Pending Users</span><button>Activate!</button>
      </div>
      <table id="object_table" border="1">
        <tr>
          <th>Email</th><th>Name</th><th>Hash</th><th>fbConnect</th><th>FavCat</th>
        <tr>
      </table>
    </div>
    <div>Keys:<table border="1" class="keys"></table></pdiv>
  </div>
  <img src="data:image/gif;base64,R0lGODlhEAAOALMAAOazToeHh0tLS/7LZv/0jvb29t/f3//Ub//ge8WSLf/rhf/3kdbW1mxsbP//mf///yH5BAAAAAAALAAAAAAQAA4AAARe8L1Ekyky67QZ1hLnjM5UUde0ECwLJoExKcppV0aCcGCmTIHEIUEqjgaORCMxIC6e0CcguWw6aFjsVMkkIr7g77ZKPJjPZqIyd7sJAgVGoEGv2xsBxqNgYPj/gAwXEQA7">
  
  <script type="text/javascript">
    if (window.File && window.FileReader && window.FileList && window.Blob) {
      // Great success! All the File APIs are supported.
      console.log('htlm5 files supported!');
    } else {
      alert('The File APIs are not fully supported in this browser.');
    }
    
    function handleFileSelect(evt) {
      var files = evt.target.files; // FileList object
      
      // files is a FileList of File objects. List some properties.
      for (var i = 0, f; f = files[i]; i++) {
        
        // If not image, don't process
        if (!f.type.match('image.*')) {
          continue;
        }
        
        var reader = new FileReader();
        
        // Closure to capture the file information.
        reader.onload = (function(theFile) {
          console.log(theFile);
          return function(e) {
            console.log(e.target);
            // Render thumbnail.
            var span = document.createElement('span');
            span.innerHTML = ['<img class="thumb" src="', e.target.result,
                              '" title="', escape(theFile.name), ' width="100" "/>'].join('');
            document.getElementById('list').insertBefore(span, null);
            //send image data to server
            $.ajax({
              type: 'get',
              url: '/sendImage',
            });
          };
        })(f);
        
        //Read in the image file as a data URL.
        reader.readAsDataURL(f);
        //reader.readAsBinaryString(f);
        //reader.readAsText(f);
        //reader.readAsArrayBuffer(f);
      }
    }

    //document.getElementById('files').addEventListener('change', handleFileSelect, false);
    
  </script>
</body>
</html>